:root {
  --bg-primary: #222226;
  --bg-hover: #fff;
  --bg-active: #fff;

  --bg-secondary: #28282c;
  --bg-tertiary: #39393d;

  --bg-button: #3584e4;
  --bg-button-hover: #1c71d8;
  --bg-button-active: #1a5fb4;

  --color-primary: white;
  --color-secondary: #f6f5f4;

  --border-online: #26a269;
  --border-offline: #a51d2d;
}

svg {
  width: 25px;
  height: 25px;
  fill: var(--color-primary);
}

img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid var(--border-offline);
}

body {
  color: var(--color-primary);
  display: grid;
  grid-template-columns: 250px 1fr;

  sidebar {
    background-color: var(--bg-primary);
    color: var(--color-primary);
    padding: 1rem;
    border-right: 1px solid var(--bg-tertiary);

    h1 {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2rem;

      svg {
        width: 50px;
        height: 50px;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      li {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  main {
    background-color: var(--bg-primary);
    .banner {
      padding: 2rem;
      border-bottom: 1px solid var(--bg-tertiary);
      background-color: var(--bg-primary);
      .banner-level-1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        margin-bottom: 2rem;

        #search {
          color: var(--color-primary);
          grid-column: 1 / 2;
          background-color: var(--bg-tertiary);
          border: none;
          border-radius: 4rem;
          padding: 0.5rem 2rem;

          height: 50px;
        }

        .profile {
          justify-self: end;
          display: flex;
          gap: 1rem;
          align-items: center;

          img {
            border-color: var(--border-online);
          }
        }
      }

      .banner-level-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hero {
          display: flex;
          gap: 1rem;

          img {
            border-color: var(--border-online);
          }
        }

        .actions {
          display: flex;
          gap: 2rem;
          button {
            padding: 0.5rem 1.5rem;
            background-color: var(--bg-button);
            color: var(--color-primary);
            font-weight: bold;
            border: none;
            border-radius: 2rem;

            &:hover {
              background-color: var(--bg-button-hover);
            }

            &:active {
              background-color: var(--bg-button-active);
            }
          }
        }
      }
    }

    .content {
      background-color: var(--bg-secondary);
      padding: 1rem;
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 1rem;

      .projects {
        grid-template-columns: 1 / 4;

        .card-list {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          gap: 1rem;

          .card {
            background-color: var(--bg-tertiary);
            padding: 2rem 1rem;
            border-radius: 4px;

            p {
              color: var(--color-secondary);
            }
          }
        }
      }

      .annoucements {
        grid-column: 2 / -1;
        margin-bottom: 1rem;
        border-radius: 4px;

        .annoucement-list {
          background-color: var(--bg-tertiary);
          padding: 2rem;
          border-radius: 4px;

          p {
            color: var(--color-secondary);
          }

          .annoucement:not(:first-child) {
            padding-top: 1rem;
          }

          .annoucement:not(:last-child) {
            padding-bottom: 1rem;
            border-bottom: 1px solid var(--color-primary);
          }
        }
      }

      .trending {
        grid-column: 2 / -1;

        .trending-list {
          background-color: var(--bg-tertiary);
          padding: 2rem;
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          & > div {
            display: flex;
            align-items: center;
            gap: 1rem;

            p:first-child {
              font-weight: bold;
            }

            p:last-child {
              color: var(--color-secondary);
            }
          }
        }
      }
    }
  }
}
